.bannerBlock {
  position: relative;
}

.bannerStyle01 {
  overflow: hidden;

  .index-swiper {
    // 項目
    .banner-item {
      height: 100vh;
      width: 100%;
      overflow: hidden;
      position: relative;

      @media (max-width: $viewS) {
        padding-bottom: 100vh;
        height: auto;
      }

      // 圖片
      .pic-box {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 3;
          pointer-events: none;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 15%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0) 100%);
        }

        .pic {
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }

        .pic-pc {
          display: none;

          @media (min-width: $viewS) {
            display: block;
          }
        }

        .pic-tab {
          display: block;
          @media (min-width: $viewS) {
            display: none;
          }
        }
      }

      // 按鈕
      .banner-item-info {
        position: absolute;
        z-index: 3;
        width: 100%;
        bottom: 0;
        padding-bottom: 1.5rem;
        padding-left: 6.4vw;
        padding-right: 6.4vw;

        @media (min-width: $viewMobile) {
          padding-bottom: 2rem;
        }

        @media (min-width: $viewS) {
          padding-left: 3.125vw;
          padding-right: 3.125vw;
        }

        @media (min-width: 90rem) {
          padding-left: 3.3333333333vw;
          padding-right: 3.3333333333vw;
        }
      }

      // 執行時
      // &.swiper-slide-active {
      //   .pic-box {
      //     animation-name: bannerZoomOut01;
      //     animation-fill-mode: both;
      //     animation-duration: 7000ms;
      //   }
      // }
    }

    // 分頁器
    .swiper-pagination {
      z-index: 5;
      .swiper-pagination-bullet-active {
        background: $primary;
      }
    }

    // 輪播按鈕
    .swiper-button-prev,
    .swiper-button-next {
      opacity: 0;
      transition: all 0.3s ease;
      display: none;

      &::after {
        color: $primary;
        height: 1.25rem;
        width: 1.25rem;
        opacity: 0.8;

        @media (max-width: $viewM) {
          height: 0.625rem;
          width: 0.625rem;
        }
      }
    }

    &:hover {
      .swiper-button-prev,
      .swiper-button-next {
        opacity: 1;
      }
    }
  }
}

.bannerStyle02 {
  overflow: hidden;
  position: relative;

  // 項目
  .banner-item {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;

    @media (max-width: $viewS) {
      padding-bottom: 100vh;
      height: auto;
    }

    // 圖片
    .pic-box {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      // &::before {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      //   bottom: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   z-index: 3;
      //   pointer-events: none;
      //   background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 15%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0) 100%);
      // }

      .pic {
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: no-repeat 50% 100% / cover;
      }

      .pic-pc {
        display: none;

        @media (min-width: $viewS) {
          display: block;
        }
      }

      .pic-tab {
        display: block;
        @media (min-width: $viewS) {
          display: none;
        }
      }
    }

    // 按鈕
    .banner-item-info {
      position: absolute;
      z-index: 3;
      width: 100%;
      bottom: 0;
      padding-bottom: 1.5rem;
      padding-left: 6.4vw;
      padding-right: 6.4vw;

      @media (min-width: $viewMobile) {
        padding-bottom: 2rem;
      }

      @media (min-width: $viewS) {
        padding-left: 3.125vw;
        padding-right: 3.125vw;
      }

      @media (min-width: 90rem) {
        padding-left: 3.3333333333vw;
        padding-right: 3.3333333333vw;
      }
    }
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .slick-dots {
    bottom: 1.5rem;

    .slick-active {
      button {
        &::before {
          color: #fdfdfd;
        }
      }
    }
  }

  .slick-vertical {
    .slick-slide {
      height: 100vh;
    }
  }
}

// banner動畫

@keyframes bannerZoomOut01 {
  0% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}
