.bannerBlock {
  position: relative;
}

.bannerStyle01 {
  overflow: hidden;

  .index-swiper {
    // 項目
    .banner-item {
      width: 100%;
      overflow: hidden;
      position: relative;

      .banner-item-bg {
        overflow: hidden;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        pointer-events: none;
        display: block;
        height: 100vh;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          pointer-events: none;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 15%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0) 100%);
        }

        @media (max-width: $viewMobile) {
          pointer-events: auto;
          height: auto;
        }
      }

      @media (max-width: $viewM) {
        height: 100%;
      }

      // 圖片
      .pic-box {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        @media (max-width: $viewMobile) {
          display: none;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 3;
          pointer-events: none;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 15%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0) 100%);
        }

        .pic {
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }

        .pic-pc {
          @media (max-width: $viewM) {
            display: none;
          }
        }
      }

      // 按鈕
      .banner-item-info {
        position: absolute;
        z-index: 3;
        width: 100%;
        bottom: 0;
        padding-bottom: 1.5rem;
        padding-left: 6.4vw;
        padding-right: 6.4vw;

        @media (min-width: 48rem) {
          padding-left: 3.125vw;
          padding-right: 3.125vw;
          padding-bottom: 3rem;
        }

        @media (min-width: 90rem) {
          padding-left: 3.3333333333vw;
          padding-right: 3.3333333333vw;
        }

        @media (max-width: $viewMobile) {
          // display: none;
        }
      }

      // 執行時
      &.swiper-slide-active {
        .pic-box,
        .banner-item-bg {
          animation-name: bannerZoomOut01;
          animation-fill-mode: both;
          animation-duration: 7000ms;
        }
      }
    }
  }
}

// banner動畫

@keyframes bannerZoomOut01 {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
