.btn-full {
  width: 100%;
}

.mb-btn-full {
  @media (max-width: $viewMobile) {
    width: 100%;
  }
}

.cart-chcekout-btn {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-color: $primary;
  position: relative;
  padding: 1rem 1.5rem;
  line-height: normal;
  border: 1px solid transparent;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-style: normal;
  background-color: transparent;
  transition:
    color 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.7),
    border 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.7);
  z-index: 1;
  -webkit-tap-highlight-color: initial;

  &::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transform-origin: left center;
    z-index: -1;
    background-color: $primary;
    transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.7);
  }

  @media (min-width: $viewS) {
    &.cart1 {
      width: auto;
    }
  }

  &:hover {
    color: $primary;
    border-color: $primary;
    background-color: transparent;
    &::before {
      transform-origin: right center;
      transform: scaleX(0);
    }
  }
}

// cart2
.discount-btn {
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgb(207, 207, 207);
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.order-content-btn {
  color: rgb(12, 12, 12);
  background: #f5f5f5;
  position: relative;
  z-index: 2;
  border: none;
  display: flex;
  justify-content: center;
  width: 100%;

  &-area {
    max-width: 37.5rem;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;

    .icon {
      i {
        &::before {
          transform: rotate(0deg);
          transition: all 0.3s ease-in;
        }
      }
    }
  }

  &.active {
    .icon {
      i {
        &::before {
          transform: rotate(180deg);
        }
      }
    }
  }
}

// cart3

.cart-continue-btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  background-clip: border-box;
  box-sizing: border-box;
  border: 1px transparent solid;
  border-radius: 5px;
  color: white;
  padding: 1rem 1.5rem;
  text-align: center;
  position: relative;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  &:hover {
    color: white;
  }
}

// banner-btn
.banner-btn {
  min-width: 15rem;
  padding: 0.625rem 3.5rem;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  color: $white;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border: 1px solid $white;
  border-radius: 150vw;
  display: inline-block;
  position: relative;

  @media (max-width: $viewM) {
    padding: 0.625rem 2rem;
  }

  &:hover {
    color: $white;
    box-shadow: inset 0 0 0 1px $white;
  }

  &.advertising_slogan_pattern {
  }
}

// style01
.btn-style01 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  background-clip: border-box;
  box-sizing: border-box;
  border: 1px transparent solid;
  border-radius: 5px;
  background-color: $primary;
  color: white;
  padding: 1rem 1.5rem;
  text-align: center;
  position: relative;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  &:hover {
    color: white;
  }
}

// style02
.btn-style02 {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-color: $primary;
  position: relative;
  padding: 0.5rem 1rem;
  line-height: normal;
  border: 1px solid transparent;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-style: normal;
  background-color: transparent;
  transition:
    color 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.7),
    border 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.7);
  z-index: 1;
  -webkit-tap-highlight-color: initial;

  &::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transform-origin: left center;
    z-index: -1;
    background-color: $primary;
    transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.7);
  }

  &:hover {
    color: $primary;
    border-color: $primary;
    background-color: transparent;
    &::before {
      transform-origin: right center;
      transform: scaleX(0);
    }
  }
}

// 20240430留存
// .btn-style02 {
//   text-decoration: none;
//   cursor: pointer;
//   display: inline-block;
//   background-clip: border-box;
//   box-sizing: border-box;
//   border: 1px transparent solid;
//   border-radius: 5px;
//   background-color: $primary;
//   color: white;
//   padding: 0.5rem 1rem;
//   text-align: center;
//   position: relative;
//   transition:
//     background-color 0.2s ease-in-out,
//     color 0.2s ease-in-out,
//     box-shadow 0.2s ease-in-out;

//   &:hover {
//     color: white;
//   }
// }
