.footerStyle01 {
  background: #edebe8;
  color: #222;

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    flex-wrap: wrap;

    @media (min-width: $viewMobile) and (max-width: $viewM) {
      max-width: 600px;
    }

    @media (max-width: $viewMobile) {
      max-width: 360px;
    }

    .footer-title {
      margin-bottom: 15px;
    }

    .footer-list {
      max-width: 100%;
      min-width: 180px;
      margin-bottom: 40px;
      text-align: center;

      @media (min-width: $viewM) {
        width: 230px;
      }

      @media (min-width: $viewMobile) and (max-width: $viewM) {
        width: 50%;
        margin: 0 auto;
      }

      .linklist {
        padding-left: 0;
      }

      .linklist-item {
        position: relative;
        display: block;
        margin-bottom: 12px;
        line-height: 1.5;
        text-align: left;
        transition: all 0.2s ease-in-out;
        text-align: center;

        a {
          display: inline-block;
          // width: 100%;
          text-align: inherit;
          text-decoration: none;
          color: inherit;
        }
      }
    }

    .footer-social-box {
      padding: 2rem 0;
      width: 40vw;

      @media (min-width: $viewM) {
        width: 290px;
      }

      @media (min-width: $viewMobile) and (max-width: $viewM) {
        width: 50%;
      }
    }

    .social-area {
      .footer-social {
        padding-left: 0;
        &-item {
          vertical-align: top;

          a {
            display: inline-block;
            i {
              font-size: 2rem;
              display: inline-block;
            }

            color: #222;
            transition: all 0.5s ease-in;

            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }

    .footer-copyright {
      padding-bottom: 0.5rem;
      display: flex;
      justify-content: center;

      &-txt {
        a {
          text-decoration: none;
        }
      }

      @media (max-width: $viewMobile) {
        &-txt {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
