.goTop {
  position: fixed;
  bottom: 3.5rem;
  right: 0.6rem;
  background-color: $primary;
  text-decoration: none;
  z-index: 99;
  font-size: 1.4rem;
  padding: 0.5rem;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;

  &:hover {
    color: $white;
    i {
      animation: goTop-icon-upDown-move 0.6s ease-in-out infinite;
    }
  }
}

// 上下移動的動畫
@keyframes goTop-icon-upDown-move {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-3px);
  }

  80% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(0);
  }
}

.open-menu {
  .goTop {
    z-index: 1;
  }
}
