.headerStyle01 {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  transition: all 0.3s ease-in;
  z-index: 9;

  .navbar {
    .header-link {
      text-decoration: none;
    }
    .main-menu {
      li {
        display: flex;
        align-items: center;
      }
    }
  }

  .main-menu {
    .menu-list {
      @media (max-width: $viewS) {
        padding-left: 0;
      }
    }

    // 首頁選單按鈕
    .btn-list {
      position: relative;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .slide-menu-control {
        cursor: pointer;
        border: 0;
        background-color: transparent;
        width: 27px;
        height: 30px;
        outline: 0;

        .line {
          background-color: $primary;
          display: block;
          height: 2px;
          position: absolute;
          transition: all 0.3s ease-in-out;
          width: 27px;

          &::before,
          &::after {
            content: "";
            display: block;
            background-color: inherit;
            height: 2px;
            position: absolute;
            transition: all 0.3s ease-in-out;
            width: 27px;
            box-sizing: border-box;
            outline: 0;
          }

          &::before {
            top: -8px;
          }

          &::after {
            bottom: -8px;
          }
        }
      }

      .txt {
        @media (max-width: $viewS) {
          display: none;
        }
      }
    }
  }

  // 首頁選單
  .fullMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.95);
    transition: height 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: 10;

    &-inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;

      .close-btn {
        border: none;
        background: transparent;
        cursor: pointer;

        position: absolute;
        right: 5%;
        top: 5%;

        i {
        }
      }
    }

    &-nav {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0 auto;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      max-width: 700px;
      width: 100%;
      .navMenu {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;

        li {
          width: 100%;
          transition: all 0.3s ease-in;

          a {
            text-decoration: none;
            padding: 15px 30px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
          }
        }
      }
    }
  }

  // 搜尋選單
  .searchBox {
    border-radius: 5px;
    position: relative;
    height: 35px;
    width: 35px;
    pointer-events: auto;
    overflow: hidden;
    transition: all 0.3s ease-in;

    .searchToggle {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      padding: 9px;
      position: relative;
      transition: all 0.3s ease-in-out;

      i {
        transition: all 0.3s ease;
      }
    }

    input {
      border: none;
      border-bottom: 1px solid #4c5e81;
      color: #4c5e81;
      width: calc(100% - 40px);
      height: 25px;
      padding: 0 30px 0 0px;
      position: absolute;
      top: 5px;
      right: 5px;
      opacity: 0;
      pointer-events: none;
      background-color: transparent;

      &:focus-visible {
        outline: 0;
      }
    }

    .search-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      position: absolute;
      top: 5px;
      right: 5px;
      opacity: 0;
      pointer-events: none;
      border: none;
      background-color: transparent;
    }

    &.open {
      width: 220px;
      background-color: transparent;

      input {
        opacity: 1;
        pointer-events: auto;
      }

      .searchToggle {
        i {
          opacity: 0;
        }

        &::before,
        &::after {
          content: "";
          width: 20px;
          height: 1px;
          display: block;
          background-color: #4c5e81;
          position: absolute;
          top: calc(50% - 0.5px);
          left: calc(50% - 10px);
        }

        &::before {
          transform: rotate(-45deg);
        }

        &::after {
          transform: rotate(45deg);
        }
      }

      .search-btn {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &.scroll {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-top: 3px solid $secondary;
  }

  @media (max-width: 576px) {
    padding: 10px 0;
    height: auto;

    .logo-box {
      max-width: 30vw;
    }
  }
}

.open-menu {
  .headerStyle01 {
    .fullMenu {
      height: 100%;
      overflow-y: auto;
    }
  }
}
