.heading {
  font-weight: 400;
  font-style: normal;
  color: #222;
  transition: color 0.2s ease-in-out;
  letter-spacing: 0.1em;
}

.cart-left-lead-title {
  letter-spacing: 1px;
  position: relative;
  padding: 5px 0px 5px 0.5rem;

  &::before {
    content: "";
    width: 2px;
    height: 75%;
    display: block;
    background-color: $gray-800;
    position: absolute;
    left: 0;
    top: 10%;
  }
}

.member-title {
  padding-bottom: 0.625rem;
  border-bottom: 1px solid #cccccc;
}
