$primary: #35286d;
$secondary: #35286d;

/**************/
// header
/**************/

// 選單
$header-second-menu-txt-color: #606060;
$header-second-menu-bg: #e4e4e1;
$header-member-dropdown-menu-bg: #f1f1f0;
$header-member-dropdown-menu-li-hover-bg: #e9e9e7;

/**************/
// member
/**************/

// 會員
$zipcode-txt-color: #606060;
$zipcode-bg: #e4e4e1;

//toggle-switch
$toggle-switch-bg: #606060;

// 線條
$gray-border: #ccc;

// 自訂義顏色
$mark: $primary;

// view
$viewL: 1200px;
$viewM: 992px;
$viewS: 768px;
$viewMobile: 576px;
