$primary: #35286d;
$secondary: #35286d;

/**************/
// header
/**************/

// 選單背景灰
$header-second-menu-bg: #e4e4e1;
$header-member-dropdown-menu-bg: #f1f1f0;
$header-member-dropdown-menu-li-hover-bg: #e9e9e7;

// 線條
$gray-border: #ccc;

// 自訂義顏色
$mark: $primary;

// view
$viewL: 1200px;
$viewM: 992px;
$viewS: 768px;
$viewMobile: 576px;
