body {
  font-family: "Noto Sans TC", sans-serif;
}

.mini {
  font-size: $font-size-base * 0.875;
}

.fz-12 {
  font-size: $font-size-base * 0.75;
}

.fz-14 {
  font-size: $font-size-base * 0.875;
}
