.page-article {
  max-width: 1000px;
  min-height: calc(100vh - 380px);
  margin: 1.5rem auto 2rem;
  position: relative;

  .article-img {
    max-width: 56.25rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }

  .divider-line {
    border-top: 1px solid #cccccc;
  }

  .article-content {
    padding: 2rem;
  }

  .article-imgBoxs {
    img {
      margin-bottom: 1.5rem;
    }
  }

  .article-btn-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
