.page-cart2 {
  // max-width: 1200px;
  margin: 0 auto;
  display: flex;
  background: rgb(239, 239, 239);
  justify-content: center;

  @media (max-width: $viewM) {
    flex-direction: column-reverse;
  }

  .left-box {
    background: white;
    flex-grow: 1;
    display: flex;
    justify-content: end;

    @media (max-width: $viewM) {
      justify-content: center;
    }

    &-area {
      width: 100%;
      max-width: 660px;
      padding: 3rem;
      @media (max-width: $viewM) {
        max-width: 37.5rem;
      }

      @media (max-width: $viewMobile) {
        padding: 2rem 15px;
      }
    }

    &-footer {
      &-area {
        border-top: 1px solid #ccc;
        padding: min(1.4rem, 2.1rem) 0 0;

        .pay-attention-lists {
          padding-left: 0;
          display: flex;
          justify-content: center;
          gap: 0.75rem;
        }
      }
    }
  }

  .right-box {
    background: rgb(239, 239, 239);
    width: 46%;

    &-area {
      width: 100%;
      max-width: 550px;
      padding: 3rem;
      position: sticky;
      top: 0;
      bottom: 0;
    }

    &-header {
      display: none;
    }
    @media (max-width: $viewM) {
      width: 100%;

      &-area {
        margin: 0 auto;
        max-width: 37.5rem;
      }

      &-header {
        display: block;
      }
    }

    .shopping-list-cart {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .product-list {
      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        &-thumbnail-box {
          border-radius: 5px;
          max-width: 5rem;
          position: relative;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 5rem;
          height: 5rem;
          min-width: 5rem;
          min-height: 5rem;
          border: 1px solid #e5e5e5;

          .count {
            background-color: rgba(0, 0, 0, 0.5);
            color: $white;
            width: 1.375rem;
            height: 1.375rem;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            position: absolute;
            top: -10px;
            right: -10px;
            z-index: 1;
          }
        }

        &:not(:first-child) {
          margin-top: 1rem;
        }

        &-content {
          flex-grow: 1;
        }
      }
    }

    .discount-code-area-box {
      display: flex;
      gap: 1rem;

      .form-group-cart-discount {
        flex-grow: 1;
      }
    }

    .total-area {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .total-box {
        display: flex;
        justify-content: space-between;

        .currency {
          color: $gray-800;
        }
      }
    }
  }
}
