// banner

//產品介紹
.homepage-product-sectionBlock {
  margin-top: 0;
  padding: 3.125vw;

  overflow: hidden;

  @media (max-width: $viewM) {
    padding: 0;
  }

  .product-lists {
    display: flex;
    flex-direction: row;

    padding-left: 0;
    gap: 1rem;
    margin-bottom: 0;

    @media (max-width: $viewM) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0rem;
    }

    &-item {
      position: relative;
      width: 33.33333%;

      &-info {
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translate(-50%, 0);
        width: 100%;
        text-align: center;
      }

      .itemImg {
        @media (max-width: $viewM) {
          img {
            transform: translate(-50%, -50%) scale(1.02);
          }
        }
      }

      &-link {
        min-width: 12.5rem;
        padding: 0.625rem 1.5rem;
        transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
        color: #fff;
        backdrop-filter: blur(15px);
        background-color: rgba(0, 0, 0, 0.6);
        text-decoration: none;
        border: 1px solid #fff;
        border-radius: 150vw;
        display: inline-block;
        position: relative;
        cursor: pointer;

        @media (max-width: $viewMobile) {
          padding: 0.25rem 0.5rem;
          font-size: 0.75rem;
          min-width: 7.5rem;
        }

        &:hover {
          box-shadow: inset 0 0 0 1px #fff;
        }
      }

      &:hover {
        .itemImg {
          img {
            transform: translate(-50%, -50%) scale(1.05);
            filter: grayscale(0);
          }
        }

        .product-lists-item-link {
          .link-underline {
            &::before {
              transform: scaleX(0);
            }
          }
        }
      }

      @media (max-width: $viewM) {
        width: 100%;
      }
    }
  }

  //slick dots 樣式
  .product-lists-dots {
    padding-left: 0;
    text-align: center;

    li {
      display: inline-block;
      padding: 1px;
      background: #ccc;
      margin: 10px 0px;
      width: 15%;
      height: 5px;

      &:first-child {
        border-radius: 0.625rem 0% 0% 0.625rem;
      }

      &:last-child {
        border-radius: 0 0.625rem 0.625rem 0;
      }

      &.slick-active {
        background: $primary;
      }
    }

    button {
      display: none;
    }
  }
}

// 產品導覽
.sectionBlock-products-recommended {
  overflow: hidden;
  background: #f7f7f7;
  padding: 8rem 0;
  position: relative;

  .title-box {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  @media (max-width: $viewMobile) {
    padding: 6rem 0;

    .title-box {
      top: 7%;
    }
  }

  .products-recommended-item {
    > a {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-infoBox {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      width: 95%;
      line-height: 20px;
      font-weight: 400;
      margin-top: 12px;
      flex-grow: 1;

      .title {
        margin-bottom: 0.5rem;
        span {
          @include hideLongTexts(1);
        }
        flex-grow: 1;

        @media (max-width: $viewMobile) {
          font-size: 0.875rem;
        }
      }

      .price {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 0.875rem;
        .original-price {
          color: #b6b6b6;
        }
        .selling-price {
          color: $primary;
          font-weight: 700;
        }
      }
    }

    &-imgBox {
      overflow: hidden;
      img {
        transition: all 0.3s ease;
      }
    }

    &:hover {
      .products-recommended-item-imgBox {
        img {
          transform: scale(1.05);
        }
      }
    }
  }

  // 輪播
  .products-recommended-swiper {
    position: relative;
    // 按鈕
    .swiper-button-prev,
    .swiper-button-next {
      z-index: 2;
      padding: 0.625rem;
      background-color: #fff;
      border-radius: 5px;
      line-height: 6px;
      opacity: 1;
      cursor: pointer;
      box-shadow:
        0px -1px 4px rgba(84, 77, 77, 0.1),
        0px 0px 0px 1px #f8f8f8,
        0px 4px 8px rgba(133, 128, 128, 0.25);
      width: fit-content;
      height: fit-content;
      transition: all 0.3s ease-in;

      &::after {
        font-family: "Bootstrap-icons";
        font-size: 0.875rem;
        color: $primary;
      }

      &:hover {
        background-color: #f8f8f8;
      }
    }

    .swiper-button-prev {
      &::after {
        content: "\F284";
      }
    }

    .swiper-button-next {
      &::after {
        content: "\F285";
      }
    }
  }
}

// 產品形象
.sectionBlock-introduction {
  position: relative;
  // overflow: hidden;

  .bg-img-box {
    height: 560px;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(29, 29, 30, 0.5) 0%, rgba(29, 29, 30, 0) 100%);
      pointer-events: none;
      z-index: 1;
    }

    @media (max-width: $viewS) {
      height: auto;
    }

    > a {
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      transition: all 0.8s ease;
      object-fit: cover;
      object-position: center;
    }

    .pic-pc {
      display: none;
      @media (min-width: $viewS) {
        display: block;
      }
    }

    .pic-tab {
      display: block;
      @media (min-width: $viewS) {
        display: none;
      }
    }
  }

  .introduction-info {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    z-index: 2;

    @media (max-width: $viewS) {
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      color: $white;
    }

    .title-box {
      .title {
        font-size: 3rem;
        margin-bottom: 1.25rem;
        line-height: 1.2;

        @media (max-width: $viewM) {
          font-size: 2rem;
        }

        a {
          display: flex;
          flex-direction: column;
          text-decoration: none;
          color: $white;
          font-weight: 600;
        }
      }
    }

    .desc-box {
      .desc {
        color: $primary;
        font-size: 1.5rem;
        font-weight: 600;
        p {
          margin-bottom: 0;
        }

        @media (max-width: $viewM) {
          color: #fff;
          font-size: 1.25rem;
        }
      }
    }
  }
}

//slogan
.sectionBlock-slogan {
  .title-box {
    padding: 2rem 0;
    .title {
      font-size: 1.125rem;
    }

    @media (max-width: $viewM) {
      .title {
        font-size: 1rem;
      }
    }

    @media (max-width: $viewMobile) {
      padding: 1.5rem 0;
      .title {
        font-size: 0.875rem;
      }
    }
  }
}
