// banner

//產品介紹
.homepage-product-sectionBlock {
  margin-top: 0;
  padding: 6.4vw;

  @media (min-width: $viewS) {
    padding: 3.125vw;
  }

  .product-lists {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    gap: 1rem;

    @media (min-width: $viewS) {
      flex-direction: row;
    }

    &-item {
      position: relative;
      width: 100%;

      &-info {
        margin-top: 1rem;

        .title {
          color: #151515;
        }
      }

      a {
        text-decoration: none;
      }

      &:hover {
        .itemImg {
          img {
            transform: translate(-50%, -50%) scale(1.05);
          }
        }

        .product-lists-item-link {
          .link-underline {
            &::before {
              transform: scaleX(0);
            }
          }
        }
      }

      @media (min-width: $viewS) {
        width: 33.33333%;
      }
    }
  }
}

.sectionBlock-introduction {
  position: relative;

  .bg-img-box {
    position: relative;
    padding-bottom: 100%;

    @media (min-width: $viewL) {
      padding-bottom: calc(100vh - 5rem);
    }

    .bg-img-pc,
    .bg-img-md {
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .bg-img-pc {
      display: none;
      @media (min-width: $viewS) {
        display: block;
      }
    }

    .bg-img-md {
      display: block;
      @media (min-width: $viewS) {
        display: none;
      }
    }
  }

  .introduction-info {
    position: absolute;

    z-index: 1;
    width: 100%;
    bottom: 0;
    padding-bottom: 3rem;
    padding-left: 6.4vw;
    padding-right: 6.4vw;

    @media (min-width: 48rem) {
      padding-left: 3.125vw;
      padding-right: 3.125vw;
    }

    @media (min-width: 90rem) {
      padding-left: 3.3333333333vw;
      padding-right: 3.3333333333vw;
    }
  }

  .advertising_slogan {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    text-align: center;
    color: $white;
    font-weight: 500;
    font-size: 1.4rem;
  }

  &-2 {
    .banner-btn-group {
      text-align: center;
    }
  }
}
