.member-application-box {
  min-height: 37.5rem;
  max-width: 40rem;
  margin: 35px auto;
  @media (min-width: $viewS) {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

// 個人資訊

.member-personal-box {
  &-content {
    margin: 0 2rem;

    @media (max-width: $viewM) {
      margin: 0 1rem;
    }

    @media (max-width: $viewMobile) {
      margin: 0 0.5rem;
    }
  }

  &-btn-groups {
    display: flex;
    justify-content: center;
    gap: 1rem;
    .btn {
      min-width: 9.375rem;
    }
  }
}
