.page-order_lists {
  max-width: 1000px;
  min-height: 30rem;
  margin: 35px auto;
}

// 頁數控制
.sectionblock-account {
  .order-table-box {
    .dataTables_paginate {
      width: 100%;
      text-align: center;
      margin-top: 1rem;
    }

    .dataTables_wrapper {
      .dataTables_paginate {
        .paginate_button {
          background: transparent;
          border: none;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: $primary !important;
            font-weight: 500;
          }
        }

        span {
          a {
            &:not(:first-child) {
              border-left: 1px solid $primary;
            }
          }
        }
      }
    }
  }

  .order-table {
    width: 100%;
    white-space: nowrap;

    th,
    td {
      border-bottom: 1px solid #cccccc;
    }

    th {
      padding-bottom: 0.625rem;
      text-align: left;
      font-weight: 500;
    }

    td {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      text-align: left;

      @media (min-width: $viewL) {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
    }
  }

  // member-personal
  .member-personal-box {
    &-content {
      .info-box {
        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
