.sectionblock-product-detail {
  max-width: 1000px;
  margin: 35px auto;
  .product-gallery {
    max-width: calc(100% - 50px);
    width: 100%;
    margin: 0 25px;
    position: relative;

    @media (max-width: $viewM) {
      max-width: 500px;
      margin: 0 auto;
    }

    .product-gallery-btn-prev,
    .product-gallery-btn-next {
      width: 40px;
      height: 40px;
      border: none;
      background: #f7f7f3;
      color: #555;
      cursor: pointer;
      text-align: center;
      z-index: 1;
      vertical-align: middle;
      line-height: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: $viewMobile) {
        display: none;
      }
    }

    .product-gallery-btn-prev {
      left: -30px;
    }

    .product-gallery-btn-next {
      right: -30px;
    }
  }

  .gallery-slider {
    .swiper-slide {
      position: relative;
    }

    .swiper-slide-cover {
      // padding-bottom: calc(133.3333333333% + 30px);
      padding-bottom: calc(133.3333333333%);
    }
  }

  //thumbs
  .gallery-thumbs {
    width: 100%;

    .swiper-slide {
      width: 4rem;
      height: 3rem;
      margin: 2px;
      overflow: hidden;
      position: relative;
      opacity: 0.7;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.swiper-slide-thumb-active {
        opacity: 1;
      }
    }
  }

  // 產品資料
  .product-item {
    &-label {
      display: inline-block;
      color: #fff;
      padding: 4px 5px;
      background: #35286d;
      max-width: none;
    }

    &-price {
      margin-bottom: 3rem;

      @media (max-width: 576px) {
        margin-bottom: 1rem;
      }

      span {
        font-weight: 500;
      }
    }

    &-feature {
      ul {
        padding-left: 0;
      }
    }
  }

  // 產品摺疊
  .product-item-collapsible {
    &-btn {
      text-align: left;
      padding: 10px 15px;
      background: $product-item-collapsible-btn-bg;
      width: 100%;
      position: relative;
      border: none;
      cursor: pointer;
    }

    .plus-icon {
      position: absolute;
      right: 15px;
      top: calc(50% - 7.5px);
      width: 15px;
      height: 15px;

      &::before,
      &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        background-color: currentColor;
        transition:
          transform 0.3s ease-in-out,
          opacity 0.3s ease-in-out;
      }

      &::before {
        width: 1rem;
        height: 1px;
        opacity: 1;
      }

      &::after {
        width: 1px;
        height: 1rem;
      }
    }

    &-inner {
      display: grid;
      grid-template-rows: 0fr;
      transition: 0.3s grid-template-rows ease;
    }

    &-content {
      overflow: hidden;
      // padding: 20px 10px;
      ul {
        list-style: inherit;
      }
    }

    &.active {
      .product-item-collapsible-inner {
        grid-template-rows: 1fr;
      }

      .product-item-collapsible-content {
        padding: 20px 10px;
      }

      .plus-icon {
        &::before {
          opacity: 0;
        }
        &:after {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
  }
}
