.sectionblock-product-lists {
  .filters-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: $header-loginMenu-bg;
    transition: all 250ms cubic-bezier(0.215, 0.6, 0.355, 1);
    z-index: 11;

    @media (min-width: $viewM) {
      transform: translateX(100%);
      height: 100vh;
      max-width: 30rem;
      width: 40%;
    }

    @media (min-width: $viewL) {
      width: 33.3333333333%;
    }

    &-inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: flex;

      .close-btn {
        border: none;
        background: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        color: $black;
        position: absolute;
        right: 5%;
        top: 3%;

        i {
          font-size: 1.25rem;
        }
      }

      .filter-box {
        width: 100%;
        padding: 2rem 1rem;
        margin-top: 3.5rem;
      }
    }
  }
}

// 打開篩選表
.open-filters-menu {
  overflow: hidden;
  width: 100%;

  .headerStyle02 {
    // 遮色片
    .fullMenu-mask {
      opacity: 1;

      @media (min-width: $viewS) {
        height: 100vh;
        transform: translateX(0%);
      }
    }
  }

  .sectionblock-product-lists {
    .filters-menu {
      height: 100%;
      overflow-y: auto;

      @media (min-width: $viewS) {
        transform: translateX(0%);
      }
    }
  }

  .product-lists-filters-bar.scroll {
    z-index: 1;
  }
}

// 產品列表
.product-lists {
  margin: 0 auto;
  margin-bottom: 1.5rem;

  // 功能列
  &-filters-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    background-color: #fff;
    min-height: 4rem;
    top: 0;
    width: 100%;
    transition: all 0.3s ease-in;

    &.scroll {
      z-index: 8;
      position: fixed;
      box-shadow: 0 0.1rem 0 0 rgba(0, 0, 0, 0.1);
    }

    @media (min-width: 48rem) {
      padding: 0 3.5rem;
    }

    .filters-button-box {
      &-btn {
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border-color: $primary;
        position: relative;
        padding: 0.5rem 1rem;
        line-height: 1.4;
        border: 1px solid transparent;
        border-radius: 0;
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 0.1em;
        font-weight: 400;
        font-style: normal;
        background-color: $primary;
        transition:
          color 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.7),
          border 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.7),
          background 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.7);
        z-index: 1;
        -webkit-tap-highlight-color: initial;

        &:hover {
          color: $primary;
          border-color: $primary;
          background-color: transparent;
        }
      }
    }
  }

  // 商品導覽
  &-gallery {
    min-height: 60vh;

    &-title {
      margin: 1rem 0 0;
    }

    &-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      overflow: hidden;

      @media (min-width: $viewS) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (min-width: $viewL) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &-item {
      overflow: hidden;
      padding: 0.75rem 0.5rem;
      display: flex;
      flex-direction: column;
      position: relative;

      a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
      }

      @media (min-width: $viewS) {
        padding: 1rem 0.5rem;
      }

      .product-lists-gallery-item-imgBoxList {
        padding-left: 0;
        position: relative;
        margin-bottom: 1.5rem;

        .img-box {
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s ease-in;
          img {
            max-width: 80%;

            @media (max-width: $viewMobile) {
              max-width: 100%;
            }
          }
        }

        .slick-arrow {
          font-weight: 400;
          align-items: center;
          display: inline-flex;
          justify-content: center;
          border: none;
          background-color: transparent;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          z-index: 5;
          opacity: 0;
          transition: all 0.3s ease-in;
          color: #000;
        }

        .slick-prev {
          left: -3px;
        }

        .slick-next {
          right: -3px;
        }
      }

      // 標籤列表
      &-labelLists {
        position: absolute;
        left: 5%;
        top: 5%;
        gap: 5px;

        @media (max-width: $viewMobile) {
          top: 0;
          left: 5%;
        }
      }

      // 標籤
      &-label {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding: 4px 5px;
        background: $product-label-bg-color;
        max-width: none;
        font-size: 0.75rem;

        @media (max-width: $viewM) {
          font-size: 0.625rem;
        }
      }

      .product-lists-gallery-item-info {
        position: relative;
        display: grid;
        flex-direction: column;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
          "instant_add_cart title"
          "instant_add_cart price";

        transition: all 0.3s ease-in;
        width: 70%;
        margin: 0 auto;
        flex-grow: 1;

        @media (max-width: $viewM) {
          width: 90%;
        }

        @media (max-width: $viewMobile) {
          width: 100%;
          grid-template-columns: 1fr 3fr;
        }

        // 標題
        .title {
          grid-area: title;
          @include hideLongTexts(2);

          @media (max-width: $viewMobile) {
            font-size: 0.875rem;
          }
        }

        // 購物車
        .instant-add-cart {
          grid-area: instant_add_cart;
          align-items: center;
          justify-content: center;
          .icon-box {
            display: inline-flex;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            border: 1px solid #ccc;
            justify-content: center;
            align-items: center;
            // position: absolute;
            top: 15%;
            left: 8%;
            color: #ccc;
            font-size: 1.125rem;
            overflow: hidden;
            background: transparent;
            z-index: 2;
            padding: 0;
            transition: all 0.4s ease-in;

            @media (max-width: $viewS) {
              height: 1.5rem;
              width: 1.5rem;
              font-size: 0.875rem;
            }

            @media (max-width: $viewMobile) {
              left: 5%;
            }
          }

          &:hover {
            .icon-box {
              background-color: $primary;
              color: #fff;
              border-color: $primary;
            }
          }
        }

        // 價格
        .price {
          grid-area: price;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-size: 0.875rem;

          .original-price {
            color: #b6b6b6;
          }
          .selling-price {
            color: $primary;
            font-weight: 700;
          }
        }
      }

      &:hover {
        .product-lists-gallery-item-imgBoxList {
          .slick-arrow {
            opacity: 1;
          }

          .img-box {
            transform: scale(1.02);
          }
        }

        .product-lists-gallery-item-info {
          color: $product-info-hover-color;
          // font-size: 0.9rem;
        }
      }
    }
  }

  .products-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// 側邊攔
.product-sidebar {
  padding-left: 0;
  border-top: 1px solid $product-sidebar-border-color;
  margin-top: 1rem;
  overflow-x: hidden;
  position: relative;
  height: 100%;
  margin-bottom: 0;

  @media (max-width: $viewM) {
    margin-top: 0.5rem;
  }

  a {
    text-decoration: none;
  }

  // 當第一層項目比第二項目還多時，往下滾會看到
  &.open-secondMenu {
    overflow-y: hidden;
  }

  // 第一選單
  .product-sidebar-item {
    padding: 8px 0;
    border-bottom: 1px solid $product-sidebar-border-color;

    &-txt {
      font-weight: 500;
    }

    > a {
      padding: 8px 20px 8px 0;
      border-radius: 5px;
      color: inherit;
      width: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
    }

    .second-menu-btn {
      position: relative;

      .plus-icon {
        display: block;
      }
    }

    // 打開第二層選單
    &.open-secondMenu {
      .product-sidebar-item-secondMenu {
        transform: translate3d(0%, 0, 0);
        // min-height: 100vh;
        overflow-y: auto;
      }
    }

    // 打開第三層選單
    .product-sidebar-item-secondMenu-lists {
      li {
        &.open-thirdMenu {
          .product-sidebar-item-thirdMenu {
            transform: translate3d(0%, 0, 0);
            // min-height: 100vh;
            overflow-y: auto;
          }
        }
      }
    }
  }

  // 次選單,第三選單
  .product-sidebar-item-secondMenu,
  .product-sidebar-item-thirdMenu {
    display: grid;
    grid-template-rows: 1fr;
    transition: 300ms transform ease;
    transform: translate3d(100%, 0, 0);
    width: 100%;
    position: absolute;
    background: #fff;
    top: 0;
    height: 100%;
    z-index: 3;
    overflow-x: hidden;

    &-content {
      min-height: 0;

      .return-box {
        display: flex;

        a {
          color: $body-color;
          padding: 0.5rem 1.25rem 0.5rem 0.5rem;
          display: flex;
          gap: 1rem;
          align-items: center;
          justify-content: flex-start;
          cursor: pointer;
          width: 100%;

          .icon-box {
            font-size: 1.25rem;
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
          }
        }
      }
      > ul {
        // overflow: hidden;
        background-color: #fff;
        padding-left: 0;

        li {
          a {
            width: 100%;
            display: inline-flex;
            padding: 0.5rem 1.25rem 0.5rem 0.5rem;
            color: $body-color;
            align-items: center;
            justify-content: space-between;

            &:hover {
              background-color: $product-sidebar-hover-color-bg;
            }

            &.active {
              background-color: $product-sidebar-hover-color-bg;
            }
          }
        }
      }
    }
  }
}
